body {
   font-size: 1.3rem !important;
   line-height: 2rem !important;
   font-weight: 400;
   padding: 15px;
   font-family: Sans-serif, Arial, Times;
   color: black;
}

h1 {
   padding: 15px 0px 15px 0px;
   font-size: 2.7rem !important;
   line-height: 2.85rem !important;
   font-family: cursive;
   /* font-family: Arial; */
   font-weight: 700;
}

h2 {
   font-weight: 600;
}

h3 {
   font-weight: 500;
}

h4 {
   font-weight: 300;
}

h5 {
   font-weight: 200;
}

h6 {
   font-weight: 100;
}

img {
   max-width: 80%;
   height: auto;
   display: block;
   margin: 0 auto;
}

pre {
   background-color: #f8f8f8;
   border: 1px solid #ccc;
   overflow-x: auto;
   padding: 20px;
   box-sizing: border-box;
   max-width: 100%;
}

code {
   font-family: 'Courier New', Courier, monospace;
   font-size: 18px;
   line-height: 1.5rem !important;
   padding: 20px 0px 20px 0px;
   color: black;
   font-weight: 600;
   white-space: pre-wrap;
   word-wrap: break-word;
}

table {
   border-collapse: collapse;
   width: 100%;
}

th,
td {
   border: 1px solid #ddd;
   padding: 10px;
}